<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{floor}}F {{room_name}} - THIRD eye</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="ThirdEyeUI">
    <p>
        ただいま<span id="RealtimeClockArea"></span>現在の{{floor}}Fの{{room_name}}の混雑状況は？
    </p>

    {% if free_space_img or false %}
        <figure class="gakusyoku">
            <img src="{{free_space_img}}" alt="フリースペースの画像">
            <figcaption>フリースペース</figcaption>
        </figure>
    {% endif %}
    {% if ticket_counter_img or false %}
        <figure class="gakusyoku">
            <img src="{{ticket_counter_img}}" alt="券売機前の画像">
            <figcaption>券売機前</figcaption>
        </figure>
    {% endif %}
    {% if counter or false %}
        <figure class="gakusyoku">
            <img src="{{counter_img}}" alt="カウンター">
            <figcaption>カウンター前</figcaption>
        </figure>
    {% endif %}
    {% if inside_img or false %}
        <figure class="gakusyoku">
            <img src="{{inside_img}}" alt="学食内の画像">
            <figcaption>学食内</figcaption>
        </figure>
    {% endif %}
    <a href="/index.html">トップページへ</a>
    <div class="logo">THIRD eye</div>
</div>
<script type="text/javascript" src="/updater.js"></script>
</body>
</html>

